<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qjm3662.cloud_u_pan">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络连接 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- &lt;!&ndash;友盟权限&ndash;&gt; -->
    <!-- &lt;!&ndash;<uses-sdk android:minSdkVersion="4"></uses-sdk>&ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.INTERNET"/> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".UI.MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".UI.UploadUi" />
        <activity android:name=".UI.DownloadUi" />
        <activity android:name=".UI.DownloadUi2" />
        <activity android:name=".FileManager.FileManager" />
        <activity android:name=".WifiDirect.TransMain" />
        <activity android:name=".WifiDirect.Send_Activity" />
        <activity android:name=".WifiDirect.Receive_Activity" />
        <activity
            android:name=".FileManager.FileManager"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".UI.RegisterUI" />
        <activity android:name=".UI.Login" />
        <activity
            android:name=".UI.UserMain"
            android:launchMode="singleTask" />
        <activity android:name=".UI.ShareCenter" />
        <activity android:name=".UI.OthersMain" />
        <activity
            android:name=".UI.Followings"
            android:launchMode="singleTask" />
        <activity android:name=".UI.CallBack" />
        <activity android:name=".UI.VersionInfo" />
        <activity android:name=".UI.AboutUs" />
        <activity android:name=".UI.RevisePassword" />
        <activity android:name=".UI.UserAgreement" />
        <activity
            android:name=".UI.FirstLunchActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Widget.CaptureActivityAnyOrientation"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            >
        </activity>
        <activity
            android:name=".UI.ZXingAddFriend"
            android:theme="@style/AppTheme" />
        <activity android:name=".UI.DCIMGirdActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".UI.Main2Activity"
            android:label="分享到优云"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.BeforeLunchActivity"
            android:theme="@style/myLunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="581aa56ff29d980cdf001822" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wangdoujia" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="9e6f3be030843000028c0949fa89c288" />

        <activity android:name=".UI.RecordTabsActivity" />
        <activity android:name=".UI.BaiduSearchActivity"></activity>
    </application>

</manifest>